services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: wv
      MYSQL_ROOT_PASSWORD: egxduvwz
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: inventory-app
    ports:
      - "8081:8080"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: wv
      DB_USER: root
      DB_PASS: egxduvwz
    depends_on:
      db:
        condition: service_healthy
